service: menu-lambda
provider:
  name: aws
  runtime: nodejs8.10
  memorySize: 128
  stage: production
  region: eu-west-1
package:
  exclude:
    - '*.spec.js'
    - 'fixtures/**'
    - '**/__snapshots__/**'
    - 'test-utils/**'
    - 'jest.config.js'
    - 'README.md'
functions:
  send:
    handler: handler.run
    events:
      - schedule:
          name: presend-morning-test
          enabled: true
          rate: cron(30 5 ? * 2-6 *)
          input:
            slackUrl: ${env:SLACK_URL_PRESEND}
      - schedule:
          name: presend-morning-test-2
          enabled: true
          rate: cron(15 7 ? * 2-6 *)
          input:
            slackUrl: ${env:SLACK_URL_PRESEND}
      - schedule:
          name: send-morning
          enabled: true
          rate: cron(30 7 ? * 2-6 *)
          input:
            slackUrl: ${env:SLACK_URL}
